@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap');

/* theme variable classes */

body {
	background: var(--theme-anticolor-basic);
	font-family: "ubuntu";

	--theme-anticolor-accent: #e0e0e0;
	--theme-anticolor-basic: #f7f7f7;

	--theme-color-accent: #303030;
	--theme-color-basic: #303030;
	
    --theme-color-red:    #f35e5e;
    --theme-color-orange: #fbc25b;
    --theme-color-yellow: #e4d963;
    --theme-color-green:  #3bd46a;
    --theme-color-blue:   #6666ef;
    --theme-color-purple: #bf41bf;
    --theme-color-pink:   #eab8c1;
    --theme-color-brown:  #b7744d;
    --theme-color-cyan:   #36d4d4;
    --theme-color-grey:   #8c8c8c;

    --theme-anticolor-red:    white;
    --theme-anticolor-orange: white;
    --theme-anticolor-yellow: white;
    --theme-anticolor-green:  white;
    --theme-anticolor-blue:   white;
    --theme-anticolor-purple: white;
    --theme-anticolor-pink:   white;
    --theme-anticolor-brown:  white;
    --theme-anticolor-cyan:   white;
    --theme-anticolor-grey:   white;
    
    --theme-sel-color: var(--theme-color-accent);
    --theme-sel-anticolor: var(--theme-anticolor-accent);
}
.red    { --theme-sel-color: var(--theme-color-red);    --theme-sel-anticolor: var(--theme-anticolor-red);    }
.orange { --theme-sel-color: var(--theme-color-orange); --theme-sel-anticolor: var(--theme-anticolor-orange); }
.yellow { --theme-sel-color: var(--theme-color-yellow); --theme-sel-anticolor: var(--theme-anticolor-yellow); }
.green  { --theme-sel-color: var(--theme-color-green);  --theme-sel-anticolor: var(--theme-anticolor-green);  }
.blue   { --theme-sel-color: var(--theme-color-blue);   --theme-sel-anticolor: var(--theme-anticolor-blue);   }
.purple { --theme-sel-color: var(--theme-color-purple); --theme-sel-anticolor: var(--theme-anticolor-purple); }
.pink   { --theme-sel-color: var(--theme-color-pink);   --theme-sel-anticolor: var(--theme-anticolor-pink);   }
.brown  { --theme-sel-color: var(--theme-color-brown);  --theme-sel-anticolor: var(--theme-anticolor-brown);  }
.cyan   { --theme-sel-color: var(--theme-color-cyan);   --theme-sel-anticolor: var(--theme-anticolor-cyan);   }
.grey   { --theme-sel-color: var(--theme-color-grey);   --theme-sel-anticolor: var(--theme-anticolor-grey);   }


/* style classes */

.style-group {
    border-radius: 5px;
	overflow: hidden;
}

.style-label {
    padding: 10px;
    color: var(--theme-sel-color);
    background: var(--theme-sel-anticolor);
    font-weight: bold;
    position: relative;
    font-size: 1em;
    text-align: center;
    clip-path: polygon(20px 0px, 100% 0, 100% 100%, 0 100%, 0 20px);
    border-bottom: 3px solid var(--theme-sel-color);
}
.style-label:after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 50px;
    color: transparent;
    background: var(--theme-sel-color);
    height: -webkit-fill-available;
    display: block;
    clip-path: polygon(20px 0%, 43px 0%, 20px 23px, 20px 100%, 0% 100%, 0% 20px);
}

.style-row {
    padding: 10px;
    background: var(--theme-sel-anticolor);
    color: var(--theme-sel-color);
    font-size: 1em;
    border-left: 15px solid var(--theme-sel-color);
    border-bottom: 3px solid var(--theme-sel-color);
    box-sizing: border-box;
    display: block;
    outline: none;
}
.style-row-solid {
    padding: 10px;
    background: var(--theme-sel-color);
    color: var(--theme-sel-anticolor);
    font-size: 1em;
    box-sizing: border-box;
    display: block;
    outline: none;
}

.style-large {
    font-size: 1.5em;
}
.style-small {
    font-size: 0.75em;
}

.style-input {
    color: inherit;
    font-size: inherit;
    border: 1px solid var(--theme-sel-color);
    border-width: 0px 0px 1px 1px;
    background: inherit;
    vertical-align: bottom;
    padding: 0px 7px;
    margin-right: 5px;
    font-family: inherit;
    height: 2em;
    box-sizing: border-box;
    outline-width: 1px;
}
.style-input:focus {
    outline: 1px solid var(--theme-sel-color);
    outline-offset: 1px;
}
button.style-input {
    border: none;
    border-radius: 5px;
    background: var(--theme-sel-color);
    color: var(--theme-sel-anticolor);
    padding: 0px 10px;
    margin-left: 5px;
}
button.style-input.style-row {
    display: block;
    margin: 0px;
    border-radius: 0px;
    width: -webkit-fill-available;
}
.style-smallwidth {
    width: 4em;
}
.style-inline-textblock {
    margin-right: 5px;
    font-family: inherit;
    height: 2em;
    box-sizing: border-box;
    color: var(--theme-sel-color);
    border: 2px solid var(--theme-sel-color);
    border-width: 0 2px 0 2px;
    display: inline-block;
    border-radius: 5px;
    padding: calc(0.5em - 1px) 10px;
    margin-left: 5px;
}
textarea.style-row {
    width: 100%;
    resize: vertical;
    border-bottom-width: 1px;
}

.style-button-disabled {
    opacity: 0.5;
}

.style-title {
    font-size: 1.2em;
    font-weight: bold;
}
.style-subsection {
    border-top: 2px solid var(--theme-sel-anticolor);
    border-radius: 0px;
    border-bottom: 2px solid var(--theme-sel-anticolor);
    margin: 14px 5px;
}


.style-info {
    font-weight: 300;
    font-size: 0.8em;
}
.style-info:before {
    content: "[";
}
.style-info:after {
    content: "]";
}

.style-inline {
    display: inline-block;
}

/* markdown classes */


.md-multiline-code {
    padding: 10px 10px;
    background: #88888833;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre;
}
.md-paragraph {
    padding: 5px;
}
.md-text {
    
}
.md-link {
    color: inherit;
}
.md-code {
    padding: 5px 8px;
    margin: 0px 7px;
    background: #88888833;
    border-radius: 5px;
    font-family: monospace;
}
.md-bold {
    font-weight: bold;
}
.md-italic {
    font-style: italic;
}
.md-strikethrough {
    text-decoration: line-through;
}